@use  "@picocss/pico/scss/pico" with (
  $theme-color: "pumpkin"
);
:root {
  --pico-border-radius: 1rem;
  --pico-typography-spacing-vertical: 1.5rem;
  --pico-form-element-spacing-vertical: 1rem;
  --pico-form-element-spacing-horizontal: 1.25rem;
}

button.little-danger {
  font-size: 0.9rem;
  color: red;
  width: auto;
  justify-self: end;
  border-color: var(--del-color);
  background: transparent;
}

button.file-badge {
  font-size: 0.9rem;
  display: inline-block;
  width: auto;
  margin-right: 0.5rem;
  padding: 0.26em 0.5em;
  border-radius: 4px;
  border: 0;
  background-color: rgba(255, 255, 255, 0.15);
  cursor: pointer;
}
