@use  "@picocss/pico/scss/pico" with (
  $theme-color: "pumpkin"
);
:root {
  --pico-border-radius: 2rem;
  --pico-typography-spacing-vertical: 1.5rem;
  --pico-form-element-spacing-vertical: 1rem;
  --pico-form-element-spacing-horizontal: 1.25rem;
}